In [1]:
var_1 = 45

In [2]:
var_2=4.5
if var_1>var_2:
    print("Var_1 is greater than Var_2")

Var_1 is greater than Var_2

NameError: name 'x' is not defined

In [11]:
var_1 = 4.5
var_2 = 4.5
if var_1>var_2:
    print("Var_1 is greater than Var_2")
elif var_2>var_1:
    print("Var_2 is greater than Var_1")
else:
    print("They are equal")

They are equal

In [14]:
my_list = ['x', 'y', 'z']

In [15]:
print(my_list[0])

x

In [17]:
print(my_list[-1])

z

In [18]:
my_set = {1, 2, 3, 4, 5}

In [19]:
print(my_set)

{1, 2, 3, 4, 5}

In [23]:
for i in my_set:
    print(i)

1
2
3
4
5

In [26]:
my_dictionary = {'One':1,'Two':2,'Three':3,'Four':4}

In [27]:
print(my_dictionary)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4}

In [28]:
my_dictionary["One"]

1

In [29]:
for i in my_dictionary.keys():
    print(i)

One
Two
Three
Four

In [30]:
my_tuple = (1, 2, 3, 4)

In [ ]:
i=0
while i < len(int_list):
    print(int_list[i])
    i+=1

In [32]:
int_list = [1, 2, 3]

In [34]:
i=0
while i < len(int_list):
    print(int_list[i])
    i += 1

1
2
3